<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
</head>
<body>
    <h1>Weather Forecast</h1>
    <p>City: {{ data.city }}</p>
    <p>State: {{ data.state }}</p>
    <p>Date: {{ data.date }}</p>
    <p>Time: {{ data.time }}</p>
    <p>Weather: {{ data.short_weather }}</p>
    <h2>Activities:</h2>
    <ul>
    {% for activity in data.activities %}
        <li>{{ activity }}</li>
    {% endfor %}
    </ul>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>